$spaceBetweenTableItems: 5px;
$sectionPadding: 5px;

.installedModDetailedView .panel-heading {
  height: auto;
  max-height: 5%;
}

.installedModDetailedView .panel-body {
  height: auto;
  max-height: 95%;
  overflow-y: auto;
}

th {
  text-align: center;
}

tbody > tr > th {
  text-align: left;
}

.deleteInstalledMod {
  float: right;
  cursor: pointer;
}

.updateInstalledMod {
  float: left;
  cursor: pointer;
  margin-right: $spaceBetweenTableItems;
}

.installedModsList {
  padding: $sectionPadding;
}

.installedModListEntry {
  cursor: pointer;
}

.installedModListEntryVersion {
  float: right;
  margin-right: $spaceBetweenTableItems;
}

.updateIndicator {
  margin-right: $spaceBetweenTableItems;
}