.onlineModListEntry {
  cursor: pointer;
}

.selectedOnlineModDescription > td {
  white-space: normal !important;
}

.requestDownload {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

.selectedOnlineModVersionsList {
  margin-left: 5px;
}

.sortAndFilterMods {
  color: initial;
  float: left;
}

.sortAndFilterMods a {
  font-size: small;
}

.installedIndicator {
  margin-right: 5px;
}