/* Bootstrap overrides */
hr {
    margin: 0;
}

.container-fluid {
    padding: 5px;
}
.col-* {
    height: 100%;
}

/*--------------------*/
html {
    height: 95%;
}
body {
    height: 100%;
    color: #333;
}

table {
    font-size: 12px;
}

th {
    text-align: center;
}
td {
    cursor: pointer;
}
tr {
    -webkit-user-select: none;
}

.main-view {
    height: 95%;
}

.profile-buttons {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#active-profile-section, #all-profiles {
    overflow: scroll;
}

.view-section {

    margin: 2px;
    padding: 1px;
    border: 2px solid #191E27;
    border-radius: 3px;
    box-shadow: 2px 1px;
}

#pageButtons {
    margin: 10px 5px;
}


.height-100 {
    height: 100%;
}
.height-20 {
    height: 20%;
}
.height-25 {
    height: 25%;
}
.height-75 {
    height: 75%;
}
.height-80 {
    height: 80%;
}