/* --- Bootstrap overrides --- */
#header hr {
    margin: 2px 0;
}
#footer hr {
    margin: 6px 0 0 0;
}

.col-* {
    height: 100%;
}
.btn[disabled] {
    cursor: default; /* No ugly cross-out on a disabled button */
}

.tooltip-inner {
    white-space: pre-wrap;
}

/* --- Global Settings --- */
html {
    height: 100%;
}

/* --- Primary Layout Structure --- */
body {
    height: 100%;
    color: #333;
}

/* --- Secondary Layout Structure --- */
#header {
    height: 8%;
}
#main-view {
    height: 88%;
}
#footer {
    height: 3%;
}
.footer-col {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

/* --- Tertiary Layout Structure --- */
.view-section {

    margin: 2px;
    padding: 1px;
    border: 2px solid #191E27;
    border-radius: 3px;
    box-shadow: 2px 1px;
}

/* --- Text-Related Treatments --- */
h1,h2,h3,h4,h5,h6,
th {
    text-align: center;
}

p {
    font-family: avenir !important;
}

/* --- Image-Related Treatments --- */
.img-logo {
    width: 100%;
    height: 100%;
}

/* General Element Styles --- */
table {
    font-size: 12px;
}
td {
    cursor: pointer;
}
tr {
    -webkit-user-select: none;
}
#tbl-mod-info td {
    cursor: text;
    -webkit-user-select: text;
}

.profile-buttons {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pageButtons {
    margin: 10px 5px;
}

/* --- Miscellaneous Helpers --- */
.height-100 {
    height: 100%;
}
.height-90 {
    height: 90%;
}
.height-80 {
    height: 80%;
}
.height-75 {
    height: 75%;
}
.height-25 {
    height: 25%;
}
.height-20 {
    height: 20%;
}
.height-10 {
    height: 10%;
}

.scroll {
    overflow: scroll;
}
.scroll-vertical {
    overflow-y: scroll;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.temporary {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s ease-in, opacity 2s ease-in;
    transition-delay: 5s;
}