@import './button.scss';
@import './input.scss';
@import './layout.scss';
@import './menu.scss';
@import './table.scss';
@import './typography.scss';

html, body {
  background-color: $background-primary-color;

  margin: 0;
  padding: 0;

  overflow: hidden;
}
