$text-primary-color: #252525;
$text-active-color: #F6DEBA;

$text-light-color: #DDD;

$background-primary-color: #242324;
$background-secondary-color: #403F40;

$element-background-color: #8E8E8E;
$element-border-color: #565656;
$element-shadow-color: #121212;

$highlight-color: #E39827;

$breakpoint-sm: 500px;

$navbar-height-lg: 60px;
$navbar-height-sm: 80px;

$menu-height: 40px;
