button, .btn {
  height: $standard-input-height;
  width: auto;

  background-color: $element-background-color;
  color: $text-primary-color;

  padding: 5px 10px;

  font-size: 16px;
  font-weight: bold;

  border-radius: 0;
  border: 1px solid $element-border-color;
  box-shadow: 1px 1px 2px 0 $element-shadow-color;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  transition-property: background-color, border-color, box-shadow, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover:not(:disabled):not(.disabled) {
    background-color: darken($highlight-color, 9);
    box-shadow: 0 0 7px 2px $element-shadow-color;
  }

  &.green {
    background-color: #28A745;
    color: $text-light-color;

    &:hover {
      box-shadow: 0 0 7px 2px #28A745;
      border-color: #28A745;
    }
  }

  &.red {
    background-color: #CB2431;
    color: $text-light-color;

    &:hover {
      box-shadow: 0 0 7px 2px #CB2431;
      border-color: #CB2431;
    }
  }

  &.small {
    font-size: 12px;
    padding: 5px;
  }

  &.subtle {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled, &.disabled {
    background-color: $background-secondary-color;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 2px $element-shadow-color;
    cursor: default;

    &:hover {
      box-shadow: 0 0 2px 2px $element-shadow-color;
      border-color: rgba(0, 0, 0, 0);
    }
  }
}