table {
  width: 100%;

  background-color: $background-primary-color;
  color: $text-light-color;

  text-align: left;

  border-collapse: collapse;

  td, th {
    padding: 5px 10px;
    box-shadow: inset 0 0 5px 1px $background-secondary-color;
  }

  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  td {
    user-select: none;
  }

  tbody {
    tr {
      &:hover {
        background-color: $highlight-color;

        td:not(:first-child) {
          border-left-color: white;
        }
      }
    }
  }

  .cell-check {
    padding-left: 10px;
    padding-right: 10px;
    width: 15px;
    text-align: center;

    .btn {
      font-size: 12px;
      padding: 5px;
    }
  }
}

.btn {
  background-color: $element-background-color;
  color: $text-primary-color;

  padding: 5px 10px;

  font-size: 16px;
  font-weight: bold;

  border-radius: 0;
  border: 1px solid $element-border-color;
  box-shadow: 1px 1px 2px 0 $element-shadow-color;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $highlight-color;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 2px $highlight-color;
  }

  &.btn-green {
    background-color: #28A745;
    color: $text-light-color;
  }

  &.btn-red {
    background-color: #CB2431;
    color: $text-light-color;
  }

  &:disabled {
    background-color: $background-secondary-color;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 2px $element-shadow-color;
    cursor: default;
  }
}
