<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../inc/bootstrap.min.css">
    <link rel="stylesheet" href="../inc/styles.css">
</head>
<body>
    <!--Standard header for every page in application-->
    <div id="pageButtons" class="btn-group" role="group" aria-label="...">
        <button type="button" id="start-factorio" class="btn btn-success">Start Factorio</button>
        <button type="button" id="page_profiles" class="btn btn-primary">Profiles</button>
        <button type="button" id="page_localMods" class="btn btn-default">Local Mods</button>
        <button type="button" id="page_onlineMods" class="btn btn-default">Online Mods</button>
    </div>
    <hr>
    <!--End of the standard header-->

    <div class="main-view">
        <!-- The list of installed mods -->
        <div class="col-xs-5 height-100"><div class="view-section scroll height-100">
            <table id="primary-table" class="table table-condensed table-hover"></table>
        </div></div>

        <!-- Info on selected mod -->
        <div class="col-xs-7 height-100"><div class="view-section scroll height-100">
            <table id="tbl-mod-info" class="table table-bordered">
                <thead><tr class="bg-warning"><th>Select a mod in the list to view info</th></tr></thead>
            </table>
        </div></div>
    </div>
</body>

    <!-- Required for script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='../inc/jquery-3.1.0.min.js'></script>
    <script src='../inc/bootstrap.min.js'></script>
    <script> require('./page_localMods.js') </script>
</html>