<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunar's [Factorio] Mod Manager</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- Standard header for every page in application -->
    <div id="header">
        <div id="pageButtons" class="btn-group" role="group" aria-label="...">
            <button type="button" id="start-factorio" class="btn btn-success">Start Factorio</button>
            <button type="button" id="page-profiles" class="btn btn-primary" disabled="disabled">Profiles</button>
            <button type="button" id="page-installedMods" class="btn btn-default">Installed Mods</button>
            <button type="button" id="page-onlineMods" class="btn btn-default">Online Mods</button>
            <button type="button" id="page-about" class="btn btn-default">About</button>
        </div>
        <hr>
    </div> <!-- End of the standard header -->

    <!-- Main body section for data -->
    <div id="main-view">
        <!-- First column, only shows active profile -->
        <div class="col-xs-6 height-100"><div class="view-section scroll height-100">
            <table id="active-profile" class="table table-condensed table-hover"></table>
        </div></div> <!-- End of first column -->

        <!-- Second column, shows profile management options and list of profiles -->
        <div class="col-xs-6 height-100">
            <!-- Sub-section, shows the profile management options -->
            <div id="button-section" class="view-section height-20">
                <button type="button" id="profile-new" class="btn btn-info btn-block">New Profile</button>
                <button type="button" id="profile-rename" class="btn btn-info btn-block">Rename Profile</button>
                <button type="button" id="profile-delete" class="btn btn-danger btn-block">Delete Profile</button>
            </div> <!-- End of profile management sub-section -->

            <!-- Sub-section, shows the list of profiles and sorting options -->
            <div class="view-section scroll height-80">
                <!-- List of profiles -->
                <table id="profiles-list" class="table table-condensed table-hover">
                    <thead><tr><th class="bg-primary" colspan="3">Profiles:</th></tr></thead>
                    <tbody></tbody>
                </table> <!-- End of profiles list -->
            </div> <!-- End of the sub-section for profiles list and sorting options -->
        </div> <!-- End of the second column -->
    </div> <!-- End of the main body section -->

    <!-- Standard footer for every page in application -->
    <div id="footer">
        <hr>
        <div class="footer-col">
            <a href="#" id="playerInfo" data-toggle="tooltip">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <span id="playerInfoText"></span>
        </div>
        <div id="modsLoadedStatus" class="footer-col"></div>
        <div id="modDownloadStatus" class="footer-col"></div>
    </div> <!-- End of the standard footer -->

</body>
    <!-- Required for script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='./js/jquery-3.1.0.min.js'></script>
    <script src='./js/bootstrap.min.js'></script>
    <script> require('./js/inc.js') </script>
    <script> require('./js/page_profiles.js') </script>
</html>