<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunar's [Factorio] Mod Manager</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../inc/bootstrap.min.css">
    <link rel="stylesheet" href="../inc/styles.css">
</head>
<body>
    <!-- Standard header for every page in application -->
    <div id="header">
        <div id="pageButtons" class="btn-group" role="group" aria-label="...">
            <button type="button" id="start-factorio" class="btn btn-success">Start Factorio</button>
            <button type="button" id="page-profiles" class="btn btn-default">Profiles</button>
            <button type="button" id="page-installedMods" class="btn btn-default">Installed Mods</button>
            <button type="button" id="page-onlineMods" class="btn btn-default">Online Mods</button>
            <button type="button" id="page-config" class="btn btn-default">Config</button>
            <button type="button" id="page-about" class="btn btn-primary" disabled="disabled">About</button>
        </div>
        <hr>
    </div> <!-- End of the standard header -->

    <!-- Main body section for data -->
    <div id="main-view">
        <div class='container height-25'>
            <div class="col-xs-3 height-100">
                <img src="../img/logo.svg" class="img-logo">
            </div>
            <div class="col-xs-8 height-100">
                <p class="h3">Lunar's Mod Manager (LMM)</p>
                <p class="h4">By: Allister Moon</p>
                <hr>
                <p class="h4">Version: <span id='app-version'></span></p>
                <hr>
            </div>
        </div>
        <div class='container scroll-vertical height-75'>
            <h4>About LMM</h4>
            <p>This is geared towards both modders and casual users alike. I want people like me (who end up using many mod configurations and messing with them on a regular basis) to easily manage mods. So you can spend less time managing mods and focus on the important part: playing with them.</p>

            <h4>Helpful Links</h4>
            <p><a href="https://mods.factorio.com">Official Mod Portal (Unaffiliated with this app)</a></p>
            <p><a href="https://forums.factorio.com/viewtopic.php?f=137&t=30394">Check it out on the Factorio Forums</a></p>
            <p><a href="https://github.com/AlyxMoon/Lunars-Factorio-Mod-Manager">Check it out on the Github Repo</a></p>
            <p><a href="https://github.com/AlyxMoon/Lunars-Factorio-Mod-Manager/issues/new">Report an issue on the Github Repo</a></p>

            <h4>Legal Stuff</h4>
            <p>Copyright (c) 2016, Allister Moon</p>
            <p>Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.</p>
            <p>THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</p>
        </div>
    </div> <!-- End of the main body section -->

    <!-- Standard footer for every page in application -->
    <div id="footer">
        <hr>
        <div class="footer-col">
            <a href="#" id="playerInfo" data-toggle="tooltip">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <span id="playerInfoText"></span>
        </div>
        <div id="modsLoadedStatus" class="footer-col"></div>
        <div id="modDownloadStatus" class="footer-col"></div>
    </div> <!-- End of the standard footer -->

</body>
    <!-- Required for script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='../inc/jquery-3.1.0.min.js'></script>
    <script src='../inc/bootstrap.min.js'></script>
    <script> require('./inc.js') </script>
    <script> require('./page_about.js') </script>
</html>