<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../inc/bootstrap.min.css">
    <link rel="stylesheet" href="../inc/styles.css">
</head>
<body>
    <!-- Standard header for every page in application -->
    <div id="header">
        <div id="pageButtons" class="btn-group" role="group" aria-label="...">
            <button type="button" id="start-factorio" class="btn btn-success">Start Factorio</button>
            <button type="button" id="page-profiles" class="btn btn-default">Profiles</button>
            <button type="button" id="page-localMods" class="btn btn-primary" disabled="disabled">Local Mods</button>
            <button type="button" id="page-onlineMods" class="btn btn-default">Online Mods</button>
        </div>
        <hr>
    </div> <!-- End of the standard header -->

    <!-- Main body section for data -->
    <div id="main-view">
        <!-- First column, the list of installed mods -->
        <div class="col-xs-5 height-100"><div class="view-section scroll height-100">
            <table id="mods-list" class="table table-condensed table-hover"></table>
        </div></div> <!-- End of first column -->

        <!-- Second column, shows info on a selected mod -->
        <div class="col-xs-7 height-100"><div class="view-section scroll height-100">
            <table id="mod-info" class="table table-bordered">
                <thead><tr class="bg-warning"><th>Select a mod in the list to view info</th></tr></thead> <!-- Filler text before data is received -->
            </table>
        </div></div> <!-- End of second column -->
    </div> <!-- End of the main body section -->

    <!-- Standard footer for every page in application -->
    <div id="footer">
        <hr>
        <p> Lorum Ipsum blah blah</p>
    </div> <!-- End of the standard footer -->

</body>
    <!-- Required for script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='../inc/jquery-3.1.0.min.js'></script>
    <script src='../inc/bootstrap.min.js'></script>
    <script> require('./inc.js') </script>
    <script> require('./page_localMods.js') </script>
</html>