<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../inc/bootstrap.min.css">
    <link rel="stylesheet" href="../inc/styles.css">
</head>
<body>
    <!-- Standard header for every page in application -->
    <div id="header">
        <div id="pageButtons" class="btn-group" role="group" aria-label="...">
            <button type="button" id="start-factorio" class="btn btn-success">Start Factorio</button>
            <button type="button" id="page-profiles" class="btn btn-default">Profiles</button>
            <button type="button" id="page-installedMods" class="btn btn-default">Installed Mods</button>
            <button type="button" id="page-onlineMods" class="btn btn-primary" disabled="disabled">Online Mods</button>
        </div>
        <hr>
    </div> <!-- End of the standard header -->

    <!-- Main body section for data -->
    <div id="main-view">
        <!-- First column, the list of online mods (once polled from server) -->
        <div class="col-xs-5 height-100"><div class="view-section scroll height-100">
            <table id="mods-list" class="table table-condensed table-hover">
                <tr><td>Currently polling the mod portal...</td></tr> <!-- Filler text while mods are being polled -->
            </table>
        </div></div> <!-- End of first column -->

        <!-- Second column, shows sorting/filtering options and info on a selected mod -->
        <div class="col-xs-7 height-100">
            <!-- Sub-section, shows mod sorting and filtering options -->
            <div id="sorting-section" class="view-section height-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="alpha-asc" class="sort-mods">Alphabetically (Ascending)</a></li>
                        <li><a href="#" id="alpha-desc" class="sort-mods">Alphabetically (Descending)</a></li>
                        <li><a href="#" id="author-asc" class="sort-mods ">Mod Author (Ascending)</a></li>
                        <li><a href="#" id="author-desc" class="sort-mods">Mod Author (Descending)</a></li>
                        <li><a href="#" id="download-asc" class="sort-mods">Most Downloads</a></li>
                        <li><a href="#" id="download-desc" class="sort-mods">Least Downloads</a></li>
                        <li><a href="#" id="update-asc" class="sort-mods">Recently Updated</a></li>
                        <li><a href="#" id="update-desc" class="sort-mods">Oldest Updated</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By <span class="caret"></span>
                    </button>
                    <ul id="filter-menu" class="dropdown-menu">
                        <li class="dropdown-header">Wait Until Mods Loaded</li>
                    </ul>
                </div>
            </div> <!-- End of mod sorting/filtering sub-section -->

            <!-- Sub-section, shows info on selected mod -->
            <div class="view-section scroll height-90">
                <table id="mod-info" class="table table-bordered">
                    <thead><tr class="bg-warning"><th>Select a mod in the list to view info</th></tr></thead> <!-- Filler text before data is received -->
                </table>
            </div> <!-- End of mod info sub-section -->
        </div> <!-- End of second column -->
    </div> <!-- End of the main body section -->

    <!-- Standard footer for every page in application -->
    <div id="footer">
        <hr>
        <div class="footer-col">
            <a href="#" id="playerInfo" data-toggle="tooltip">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <span id="playerInfoText"></span>
        </div>
        <div id="modsLoadedStatus" class="footer-col"></div>
        <div id="modDownloadStatus" class="footer-col"></div>
    </div> <!-- End of the standard footer -->

</body>
    <!-- Required for script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='../inc/jquery-3.1.0.min.js'></script>
    <script src='../inc/bootstrap.min.js'></script>
    <script> require('./inc.js') </script>
    <script> require('./page_onlineMods.js') </script>
</html>